#particles__background{
    z-index: -1;
    position: fixed;
    inset: 0;
    width: 100vw;
    transform: translateY(4.3em);
    height: 88vh;
    transition: all .6s ease-in-out;
    animation: particles 3.5s ease-in-out;
}
@keyframes particles{
    from{
        opacity: 0;
    }
}