@mixin goAnimate($type, $value){
    transform: #{$type}($value);
}
@mixin placement($top, $right, $frame){
    position: absolute;
    top: $top;
    right: $right;
    animation: $frame 2.5s infinite ease-in-out alternate;
}
section{
    .coding {
        @include placement(15%, 35%, coding);
        font-size: 1.5rem;
        color: $grey;
        .opening, .closing, .slash{
            color: $main-color-dark
        }
    }
    .reactjs{
        @include placement(50%, 18%, reactjs);
    }
    .js{
        @include placement(75%, 41%, js);
    }
    .git{
        @include placement(45%, 45%, git);
        width: 45pt;
    }
    .html{
        @include placement(70%, 25%, html);
    }
    .css{
        @include placement(25%, 23%, js);
    }
}

@keyframes html{
    from{
        @include goAnimate(rotate, -45deg)
    }to{
        @include goAnimate(rotate, 45deg);
        @include goAnimate(translateX, 50%)
    }
}
@keyframes git{
    from{
        @include goAnimate(rotate, -45deg)

    }
    to{
        @include goAnimate(rotate, 45deg);
        @include goAnimate(translateX, 50%)
    }
}
@keyframes js{
    from{
        @include goAnimate(scale, 0.7)
    }
    to{
        @include goAnimate(scale, 1.2);
        transform: translate(75%,-75%)
    }
}
@keyframes reactjs{
    from{
        @include goAnimate(translateY,-100%);
    }
    to{
        @include goAnimate(rotate, .2turn);
    }
}
@keyframes coding {
    from{
        @include goAnimate(scale,0.7);
        @include goAnimate(translateX,-90%);
    }
    to{
        @include goAnimate(scale,1.1);
        @include goAnimate(translateY,90%);
    }
}
@media only screen and (max-width: 600px){
    // phones
    section{
        .coding{
            left: 30%;
            top: 6%;
        }
        .reactjs{
            left: 70%;
            top: 75%;
        }
        .css{
            left: 65%;
            top: 28%;
        }
        .js, .html, .git{
            display: none;
        }
    }
}
@media only screen and (min-width: 600px) and (max-width: 768px){
    // tablets
    .css{
        left: 75%;
    }
    .reactjs{
        left: 78%;
    }
    .js, .html, .git{
        display: none;
    }
}