main{
    display: flex;
    flex-direction: column;
    gap: 1em;
    h1{
        color: $main-color-dark;
    }
    section{
        display: flex;
        flex-direction: column;
        gap: 1em;
        p{
            color: $grey;
            font-size: .95rem;
            .mobile, .tablet{
                display: none;
            }
            span{
                color: $main-color-dark;
                font-weight: 600;
            }
        }
    }
}

@media only screen and (max-width: 599px) and (min-width: 401px){
    main{
        h1{
            text-align: center;
        }
        section p{
            .desktop, .desktop-tablet, .tablet{
                display: none;
            }
            .mobile{
                display: block;
            }
        }
    }
}
@media only screen and (min-width: 428px) and (max-width: 768px){
    main{
        section p{
            .desktop, .mobile{
                display: none;
            }
            .desktop-tablet, .tablet{
                display: block;
            }
        }
    }
}
@media only screen and (max-width:768px){
    main h1{
        text-align: center;
    }
}
@media only screen and (max-width: 400px) {
    main section p .sm{
        display: none;
    }
    
}
