.main__navbar{
    z-index: 2;
    transition: all .7s ease;
    position: sticky;
    top: 0;
    height: 4.3em;
    background-color: $background-color;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    padding: 0 4.5em;
    .menu{
        background-color: transparent;
        border: none;
        display: none;
    }
    .list__items{
        transition: all .6s ease-in-out;
        display: flex;
        align-items: center;
        gap: 3em;
        font-weight: 500;
        color: $grey;
        .home{
            font-weight: 800;
            color: $main-color-dark;
        }
        .list__item{
            font-size: .9rem;
            list-style-type: none;
            transition: all .3s ease-in-out;
            &:hover{
                color: $main-color-dark;
            }
        }
        .list__button{
            border: 1.5px solid $main-color-light;
            background-color: $main-color-light;
            border-radius: 16px;
            padding: .3em .9em;
            font-size: .8rem;
            color: $background-color;
            transition: all .3s ease-in-out;
            &:hover{
                background-color: $background-color;
                color: $main-color-light;
            }
        }
    }
    .logo{
        transform: scale(1.2);
        color: $main-color-dark;
        font-weight: 800;
        span{
            color: $grey;
            font-size: 1rem;
        }
        // &::after{
        //     position: absolute;
        //     content: 'Beta';
        //     font-size: .55rem;
        //     color: $background-color;
        //     font-weight: 600;
        //     background-color: $secondary-color-light;
        //     border-radius: .8em;
        //     padding: .02em .8em;
        // }
    }
}
@media only screen and (max-width: 768px){
    .main__navbar{
        padding: 0 2em;
        .menu{
            transition: all .6s ease-in-out;
            display: block;
        }
        .menu-opened{
            transform: rotate(90deg);
        }
        .menu-opened ~ .list__items{
            transform: translateX(0);
        }
        .list__items{
            padding-top: 10em;
            position: absolute;
            top: 100%;
            left: 0%;
            background-color: $background-color;
            width: 100%;
            height: 93.7vh;
            text-align: center;
            transform: translateX(100%);
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
    }
}