*,html, body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    cursor: url('./Assets/cursor.png'),auto;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    scroll-behavior: smooth;

    ::-webkit-scrollbar{
      width: .25em;
    }
    ::-webkit-scrollbar-thumb{
      background-color: $main-color-dark;
      border-radius: 10em;
    }
  }
  body{
    background-color: #212121;
  }
  .no-scroll{
    overflow: hidden;
  }
  #hero,#about{
    margin-inline: 7em 0;
  }
  #contact{
    margin-inline: 13em;
  }
  
  img{
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;
    pointer-events:none
  }

  #app{
    position: relative;
    width: 100%;
    contain: paint;
  }
  #app-content{
    display: flex;
    flex-direction: column;
    gap: 8.5em;
  }
  #btt{
    position: fixed;
    right: 2.5%;
    bottom: 5%;
    z-index: 2;
  }
  @media only screen and (max-width: 768px){
    #hero,#about, #contact{
      margin-inline: 4em;
    }
    #app-content{
      gap: 5em;
    }
  }