@import "Components/contact/Left";
@import "Components/contact/Right";
#contact{
    position: relative;
    display: flex;
    gap: 6em;
}
#contact-holder{
    position: relative;
}
.alert{
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,-500%);
    transition: all .7s ease;
    padding: .7em 2em;
    opacity: 0;
}
.fail,.success{
    opacity: 1;
    transition: all .7s ease;
    transform: translate(-50%,100%);
}
.fail{
    background-color: red;
}
.success{
    background-color: green;
}
@media only screen and (max-width: 768px){
    #contact{
        gap: 3em;
        flex-direction: column-reverse;
    }
}
@media only screen and (min-width: 600px) and (max-width: 768px){
    #contact{
        align-items: center;
    }
}
