#services{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 4em;
    h2{
        text-align: center;
        color: $grey;
        font-weight: 500;
        .highlight{
            color: $main-color-dark;
        }
    }
    section{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        article{
            border: .02em solid $main-color-light;
            padding: 1em .8em 2em .8em;
            height: 12em;
            border-radius: .6em;
            background-color: $background-color;
            box-shadow: 1px 2px 4px 0 rgba(200,204,244,1);
            display: flex;
            flex-direction: column;
            align-items: center;
            h4{
                position: relative;
                color: $grey;
                font-weight: 500;
            }
            h4 + div{
                height: .2em;
                width: 14em;
                background-color: $main-color-dark;
                border-radius: 8em 0;
            }
            .content{
                margin-top: 1em;
                font-size: .9rem;
                color: $grey;
                .contrast{
                    color: $white;
                }
                .highlight{
                    color: $main-color-dark;
                }
            }
        }
    }
    ul{
        display: flex;
        padding: .8em 4em;
        justify-content: space-evenly;
        background-color: #353535;
        li{
            color: $grey;
            list-style-type: none;
            font-size: .8rem;
        }
    }
}
@media only screen and (max-width: 600px){
    #services #services-header{
            font-size: 1.05rem;
            font-weight: 600;
    }
}
@media only screen and (max-width: 768px){
    #services{
        section{
            flex-direction: column;
            gap: 3em;
        }
        ul{
            display: none;
        }
    }
}